/* body { 
    background: url("../images/abstract-q-c-640-480-5.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
.my-list-header-row {
    padding-top: 3px;
    padding-bottom: 3px;
}
.my-line-items {
    padding-top: 3px;
    padding-bottom: 3px;
}
.card {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 14px;
}
.card-body a {
    word-break: break-all;
}
.jumbotron {
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}
.articleHeadline {
    line-height: 1.5;
} 
.my-form-group {
    margin-top: 2px;
    margin-bottom: 2px;
} 
#my-form {
    overflow: auto;
}
.my-labels {
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 2px;
}
.my-form-inputs {
    height: 24px;
    margin-top: 0px;
    margin-bottom: 10px;
}
.sticky {
    position: sticky;
    top: 0;
    width: 100%
}
#submit-button {
    margin-top: 10px;
}
#schedule-card-header {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 24px; 
    text-align: center; 
    background-color:rgb(2, 2, 148);
    color: white;
}
#schedule-list-element-header {
    padding-top: 4px;
    padding-bottom:4px;
  
}
#new-train-card-header {
    margin-bottom: -10px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 24px; 
    text-align: center; 
    background-color:rgb(2, 2, 148);
    color: white;
}
#my-train-schedule {
    overflow-y: scroll;
    max-height: 200px;
    border-radius: 0px 0px 5px 5px;
}
#my-train-schedule-card {
    padding-top: 5px;
    padding-bottom: 10px;
}
#my-schedule-list-header {
    border-radius: 5px 5px 0px 0px;
    background-color: lightskyblue;
    border: 1px solid lightskyblue;
    margin-bottom: 0px;
}

